.places {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr;
    gap: 80px;
    width: calc(100% - 2*148px);
    margin: 0 auto;
    padding: 0;
}


@media screen and (max-width: 1279px) {
    .places {
        width: calc(100% - 2*48px);
    }
}

@media screen and (max-width: 1023px) {
    .places {
        width: calc(100% - 2*24px);
        gap: 73px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        width: 100%;
        gap: 50px;
    }
}