.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2*148px);
    max-height: 1005px;
    margin: 0 auto;
    padding-bottom: 92px;
    padding-top: 56px;
}