.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2*148px);
    margin: 0 auto;
    padding-bottom: 92px;
    padding-top: 56px;
}

@media screen and (max-width: 1279px) {
    .lead {
        padding-top: 48px;
        width: calc(100% - 2*48px);
    }
}