.places__place {
    display: grid;
    grid-template-areas: 
        "title website"
        "image paragraph";
    grid-gap: 48px 40px;
    grid-template-columns: 460px auto;
}

@media screen and (max-width: 1279px) {
    .places__place {
        grid-gap: 48px 32px;
        grid-template-columns: 440px auto;
    }
}